<section style="margin-top: 1em; margin-bottom: 1em;">
    <div class="container-fluid">
        <div class="row">
            <h1>
                <span *ngIf="changeLanguage" @fadeIn>Service.</span>
                <span *ngIf="!changeLanguage" @fadeIn>Service.</span>
            </h1>
        </div>
        <div class="row">
            <h2>
                <span *ngIf="changeLanguage" @fadeIn>wide range</span>
                <span *ngIf="!changeLanguage" @fadeIn>Large éventail.</span>
            </h2>
        </div>
    </div>
    <div class="container-fluid" style="width: fit-content;">
        <div class="row" style="width: fit-content;">
            <div style="max-width: 600px; margin: 0 auto !important; float: none !important;">
                <div class="card" tabindex="0" [popover]="alterations" popoverTitle="100% Satisfaction Guaranteed!"
                    placement="right" [outsideClick]="true">
                    <ng-template #alterations>
                        <div [innerHtml]="htmlOne"></div>
                    </ng-template>
                    <h5 class="card-header" style="text-align:center;"><span @fadeIn
                            *ngIf="changeLanguage">Alterations</span>
                        <span @fadeIn *ngIf="!changeLanguage">Modifications</span>
                    </h5>
                    <div class="card-body">
                        <img class="img-fluid" style="display: block;margin-left: auto;margin-right: auto;"
                            src="../../../assets/pics/Alteraction.png">
                    </div>
                </div>
            </div>

            <div style="max-width: 600px; margin: 0 auto !important; float: none !important;">
                <div class="card" tabindex="1" [popover]="customclothing" popoverTitle="Because Quality is Important!"
                    placement="right" [outsideClick]="true">
                    <ng-template #customclothing>
                        <div [innerHtml]="htmlTwo"></div>
                    </ng-template>

                    <h5 class="card-header" style="text-align:center;"><span @fadeIn *ngIf="changeLanguage">Custom
                            Clothing</span>
                        <span @fadeIn *ngIf="!changeLanguage">Vêtements personnalisés</span>
                    </h5>
                    <div class="card-body">
                        <img class="img-fluid" style="display: block;margin-left: auto;margin-right: auto;"
                            src="../../../assets/pics/Custom_Clothing.png">
                    </div>
                </div>
            </div>

            <div style="max-width: 600px; margin: 0 auto !important; float: none !important;">
                <div class="card" tabindex="2" [popover]="keymaking" popoverTitle="We Know your needs" placement="right"
                    [outsideClick]="true">
                    <ng-template #keymaking>
                        <div [innerHtml]="htmlThree"></div>
                    </ng-template>

                    <h5 class="card-header" style="text-align:center;"><span @fadeIn *ngIf="changeLanguage">Key
                            Making</span>
                        <span @fadeIn *ngIf="!changeLanguage">Fabrication de clés</span>
                    </h5>
                    <div class="card-body">
                        <img class="img-fluid" style="display: block;margin-left: auto;margin-right: auto;"
                            src="../../../assets/pics/KeyMaking.png">
                    </div>
                </div>
            </div>

            <div style="max-width: 600px; margin: 0 auto !important; float: none !important;">
                <div class="card" tabindex="3" [popover]="drycleaning" popoverTitle="You are in good hands"
                    placement="right" [outsideClick]="true">
                    <ng-template #drycleaning>
                        <div [innerHtml]="htmlFour"></div>
                    </ng-template>

                    <h5 class="card-header" style="text-align:center;"><span @fadeIn *ngIf="changeLanguage">Dry
                            Cleaning</span>
                        <span @fadeIn *ngIf="!changeLanguage">Nettoyage à sec</span>
                    </h5>
                    <div class="card-body">
                        <img class="img-fluid" style="display: block;margin-left: auto;margin-right: auto;"
                            src="../../../assets/pics/DryCleaning.png">
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>