/* .list-group-item {background-color: transparent} */

footer {
  background-color: #faa749 !important;
}
.list-group-item {
  color: #333;
  background-color: transparent;
  border: none;
  display: inline-block;
}

.list-group-item.active {
  color: rgba(84, 84, 105, 0.48);
}

.list-group-item:hover {
  color: rgba(255, 255, 255, 0.7);
}

.list-group-item-action {
  width: auto;
}

.map-responsive {
  overflow: hidden;
  padding-bottom: 50%;
  position: relative;
  height: 0;
}
.map-responsive iframe {
  left: 0;
  top: 0;
  height: 100%;
  width: 100%;
  position: absolute;
}
