<footer class="p-3 bg-dark text-white-50">
  <div class="row pb-0">
    <ul class="list-group col-12 col-md-4 col-lg-3 list-unstyled">
      <li>
        <h5 class="list-group-item disabled pl-3">Sitemap</h5>
      </li>
      <li *ngFor="let count of navigation">
        <a class="list-group-item list-group-item-action pl-3" routerLinkActive="active" routerLink="{{count.goal}}">
          <span *ngIf="changeLanguage">{{count.navi}}</span>
          <span *ngIf="!changeLanguage">{{count.navi_french}}</span>
        </a>
      </li>
    </ul>

    <ul class="list-group col-12 col-md-4 col-lg-3 list-unstyled">
      <li>
        <h5 class="list-group-item disabled pl-3 text-left">
          <span *ngIf="changeLanguage" @fadeIn>Social</span>
          <span *ngIf="!changeLanguage" @fadeIn>Sociale</span>
        </h5>
      </li>
      <div class="col-md-auto">
        <li class="list-group-item text-left">
          <a href="https://www.facebook.com/PaulasPlaceTailorShop" class="list-group-item pl-0" target="social"><i
              class="fab fa-facebook-square fa-3x" aria-hidden="true"></i><br>Facebook</a>
        </li>
        <li class="list-group-item text-left">
          <a href="https://www.instagram.com/varun__29/" class="list-group-item pl-0" target="social"><i
              class="fab fa-instagram fa-3x" aria-hidden="true"></i><br>Instagram</a>
        </li>
      </div>
    </ul>
    <ul class="list-group col-12 col-md-4 col-lg-3 list-unstyled">
      <li>
        <h5 class="list-group-item disabled pl-3 text-left">
          <span *ngIf="changeLanguage" @fadeIn>Address</span>
          <span *ngIf="!changeLanguage" @fadeIn>Adresse</span>
        </h5>
      </li>
      <li class="list-group-item text-left">
        <address class="list-group-item disabled pl-3 text-left">
          <a href="tel:+902443-5333">(902) 443-5333</a><br>
          <a href="mailto:varunrajtj@gmail.com">varunrajtj@gmail.com</a><br>
          Paula's Place Tailor Shop<br>
          #30 Farnham Gate Rd<br>
          Halifax, NS B3M 4R8<br>
        </address>

      </li>
      <li class="list-group-item text-left">
        <h6 class="list-group-item disabled pl-3 text-lg-right">
          <span *ngIf="changeLanguage" @fadeIn style="float:left;">Business
            hours:&nbsp;&nbsp;&nbsp;&nbsp;Mon&nbsp;&nbsp;-&nbsp;&nbsp;Fri&nbsp;&nbsp;&nbsp;&nbsp;8am&nbsp;&nbsp;-&nbsp;&nbsp;5pm</span>
          <span *ngIf="!changeLanguage" @fadeIn style="float: left;">Heures
            d'ouverture:&nbsp;&nbsp;&nbsp;&nbsp;Lun&nbsp;&nbsp;-&nbsp;&nbsp;Ven&nbsp;&nbsp;&nbsp;&nbsp;8am&nbsp;&nbsp;-&nbsp;&nbsp;5pm</span>
        </h6>
      </li>
    </ul>
    <!--ul class="list-group col-12 col-md-4 col-lg-3 list-unstyled">
      <li>
        <h6 class="list-group-item disabled pl-3">
          <span *ngIf="changeLanguage" @fadeIn>Mon 09:00 - 18:00</span>
          <span *ngIf="!changeLanguage" @fadeIn>Mon 09:00 - 18:00</span>
        </h6>
      </li>
      <li>
        <h6 class="list-group-item disabled pl-3">
          <span *ngIf="changeLanguage" @fadeIn>Mon 09:00 - 18:00</span>
          <span *ngIf="!changeLanguage" @fadeIn>Mon 09:00 - 18:00</span>
        </h6>
      </li>
      <li>
        <h6 class="list-group-item disabled pl-3">
          <span *ngIf="changeLanguage" @fadeIn>Mon 09:00 - 18:00</span>
          <span *ngIf="!changeLanguage" @fadeIn>Mon 09:00 - 18:00</span>
        </h6>
      </li>
      <li>
        <h6 class="list-group-item disabled pl-3">
          <span *ngIf="changeLanguage" @fadeIn>Mon 09:00 - 18:00</span>
          <span *ngIf="!changeLanguage" @fadeIn>Mon 09:00 - 18:00</span>
        </h6>
      </li>
      <li>
        <h6 class="list-group-item disabled pl-3">
          <span *ngIf="changeLanguage" @fadeIn>Mon 09:00 - 18:00</span>
          <span *ngIf="!changeLanguage" @fadeIn>Mon 09:00 - 18:00</span>
        </h6>
      </li>
      <li>
        <h6 class="list-group-item disabled pl-3">
          <span *ngIf="changeLanguage" @fadeIn>Mon 09:00 - 18:00</span>
          <span *ngIf="!changeLanguage" @fadeIn>Mon 09:00 - 18:00</span>
        </h6>
      </li>
      <li>
        <h6 class="list-group-item disabled pl-3">
          <span *ngIf="changeLanguage" @fadeIn>Mon 09:00 - 18:00</span>
          <span *ngIf="!changeLanguage" @fadeIn>Mon 09:00 - 18:00</span>
        </h6>
      </li>
    </ul-->
    <ul class="list-group col-12 col-md-4 col-lg-3 list-unstyled">
      <li>
        <h5 class="list-group-item disabled pl-3 text-left">
          <span *ngIf="changeLanguage" @fadeIn>Directions</span>
          <span *ngIf="!changeLanguage" @fadeIn>Les Directions</span>
        </h5>
      </li>
      <li>
        <div class="map-responsive">
          <iframe
            src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d2837.320404248672!2d-63.66696288446888!3d44.67223477909958!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x4b5a208b473eb8b5%3A0x80247022e3570346!2s30%20Farnham%20Gate%20Rd%2C%20Halifax%2C%20NS%20B3M%204R8!5e0!3m2!1sen!2sca!4v1641653697595!5m2!1sen!2sca"
            width="600" height="450" frameborder="0" style="border:0" allowfullscreen loading="lazy"></iframe>
        </div>
      </li>
    </ul>
  </div>
  <hr>
  <div class="container text-center">
    <small>Copyright &copy; Paula's Place Tailor Shop</small>
  </div>
</footer>