<div fxLayout="row" fxLayout.xs="column" fxLayoutGap="5px">
    <div fxFlex="10">
        <h2 style="text-align:center">Address</h2>
        <address>
            <a href="tel:+902443-5333">(902) 443-5333</a>.<br>
            <a href="mailto:varunrajtj@gmail.com">varunrajtj@gmail.com</a>.<br>
            You may also want to visit us:<br>
            Paula's Place Tailor Shop<br>
            30 Farnham Gate Rd<br>
            Halifax, NS B3M 4R8<br>
            Canada
        </address>
    </div>
    <div fxFlex="20" fxHide.lt-md>
        <h2 style="text-align:center">Get Directions</h2>
        <div class="mapouter">
            <div class="gmap_canvas"><iframe width="600" height="500" id="gmap_canvas"
                    src="https://maps.google.com/maps?q=30%20Farnham%20Gate%20Rd&t=&z=13&ie=UTF8&iwloc=&output=embed"
                    frameborder="0" scrolling="no" marginheight="0" marginwidth="0"></iframe><a
                    href="https://putlocker-is.org"></a><br>
                <style>
                    .mapouter {
                        position: relative;
                        text-align: right;
                        height: 500px;
                        width: 600px;
                    }
                </style><a href="https://www.embedgooglemap.net">google maps web pages</a>
                <style>
                    .gmap_canvas {
                        overflow: hidden;
                        background: none !important;
                        height: 500px;
                        width: 600px;
                    }
                </style>
            </div>
        </div>
    </div>
    <div fxFlex="20">
        <form class="contact" [formGroup]="form" method="post" (ngSubmit)="onSubmit()">
            <mat-form-field>
                <mat-label>Name</mat-label>
                <input matInput [formControl]="name" required>
                <mat-error *ngIf="name.invalid">Please enter your name</mat-error>
            </mat-form-field>
            <mat-form-field>
                <mat-label>Email</mat-label>
                <input matInput [formControl]="email" placeholder="email@example.com" required>
                <mat-error *ngIf="email.invalid">Please enter a valid email</mat-error>
            </mat-form-field>
            <mat-form-field>
                <mat-label>Message</mat-label>
                <textarea matInput [formControl]="message" maxlength="256" placeholder="I'm interested in..."
                    required></textarea>
                <mat-hint align="end"> {{message.value?.length || 0}}/256</mat-hint>
                <mat-error *ngIf="message.invalid">Please enter a message</mat-error>
            </mat-form-field>
            <button [disabled]="isLoading" class="submit" type="submit">Submit</button>
            <input [formControl]="honeypot" class="hidden" type="text" />
            <div [ngClass]="!submitted? 'hidden' : 'visible'" class="center-text">
                <span>{{responseMessage}}</span>
            </div>
        </form>
    </div>
</div>