<section>
  <h1 class="d-inline px-3 px-lg-1">
    <span @fadeIn *ngIf="changeLanguage">HELLO.</span><span @fadeIn *ngIf="!changeLanguage">BONJOUR.</span>
  </h1>
  <h1 class="px-3 px-lg-1 text-lg-right">
    <span @fadeIn *ngIf="changeLanguage">I'M<br>A TAILOR</span>
    <span @fadeIn *ngIf="!changeLanguage">JE SUIS<br>TAILLEUSE</span>
  </h1>
  <h2 class="px-3 px-lg-1 text-lg-right">
    <span @fadeIn *ngIf="changeLanguage">AND FASHION DESIGNER</span>
    <span @fadeIn *ngIf="!changeLanguage">ET CRÉATEUR DE MODE</span>
  </h2>
  <div class="container">
    <div class="row my-4 mx-0">
      <div class="col-12" style="
    margin-right: 0px;
    margin-left: 0px;
">
        <h3>
          <span @fadeIn *ngIf="changeLanguage">As a tailor and fashion designer for well-known modelling agencies, I can
            certainly turn your fabric into a stunning outfit.
            I am also happy to have a conversation to understand your preferences and discuss the look of your outfit.
            Once you confirm the designs, we share the exact quotes & start the stitching process.</span>
          <span @fadeIn *ngIf="! changeLanguage">En tant que tailleur et créateur de mode pour des agences de mannequins
            renommées, je peux certainement transformer votre tissu en une tenue époustouflante.
            Je suis également heureux d'avoir une conversation pour comprendre vos préférences et discuter du look de
            votre tenue.
            Une fois que vous avez confirmé les conceptions, nous partageons les devis exacts et commençons le processus
            de couture.
          </span>
        </h3>
      </div>
    </div>
  </div>
  <div class="container">
    <div class="row mx-0">
      <div class="col-4 px-0"><img class="w-100" src="../../../assets/pics/LaundryMachine.png" /></div>
      <div class="col-4 px-0"><img class="w-100" src="../../../assets/pics/FrontView.png" /></div>
      <div class="col-4 px-0"><img class="w-100" src="../../../assets/pics/GarmentSew.png" /></div>
    </div>
  </div>
  <div class="container">
    <div class="row my-4 mx-0">
      <div class="col-12">
        <h3>
          <span @fadeIn *ngIf="changeLanguage">We service everything in your closet & more. Here to make plain boring
            clothes
            better.</span>
          <span @fadeIn *ngIf="! changeLanguage">Nous entretenons tout dans votre garde-robe et plus. Ici pour améliorer
            les
            vêtements simples et ennuyeux.
          </span>
        </h3>
      </div>
    </div>
  </div>
</section>