<div fxLayout="row" fxLayoutGap="5px" fxLayoutAlign="<main-axis> <cross-axis>" fxFlex="1 2 calc(15em + 20px)"
    fxLayout.xs="column">
    <div fxLayoutGap="5px" fxFlexOrder="0">
        <div>
            <h2>
                Opening hours
            </h2>
        </div>
        <div>
            <div class="row">
                <div class="col">
                    Monday
                </div>
                <div class="col">
                    09:00 - 18:00
                </div>
            </div>
            <div class="row">
                <div class="col">
                    Tuesday
                </div>
                <div class="col">
                    09:00 - 18:00
                </div>
            </div>
            <div class="row">
                <div class="col">
                    Wednesday
                </div>
                <div class="col">
                    09:00 - 18:00
                </div>
            </div>
            <div class="row">
                <div class="col">
                    Thursday
                </div>
                <div class="col">
                    09:00 - 18:00
                </div>
            </div>
            <div class="row">
                <div class="col">
                    Friday
                </div>
                <div class="col">
                    09:00 - 18:00
                </div>
            </div>
            <div class="row">
                <div class="col">
                    Saturday
                </div>
                <div class="col">
                    09:00 - 18:00
                </div>
            </div>
            <div class="row">
                <div class="col">
                    Sunday
                </div>
                <div class="col">
                    09:00 - 18:00
                </div>
            </div>
        </div>
    </div>
    <div class="child-3" fxLayoutGap="5px" fxFlexOrder="2">
        <div>
            <h2 style="text-align:center">Payment Method</h2>
            <div style="font-size: 24px;">
                <i class="fab fa-cc-visa fa-4x"></i>
            </div>
            <div style="font-size: 24px;">
                <i class="fab fa-cc-mastercard fa-4x"></i>
            </div>
            <div style="font-size: 24px;">
                <i class="fab fa-google-pay fa-4x"></i>
            </div>
        </div>
    </div>
</div>