<div class="container-fluid">
  <div class="row" class="position-relative">
    <div id="shadow3"></div>
    <div id="teaser" class="position-absolute">
      <div id="teaser-word" class="text-white">&nbsp;&nbsp;<img class="middle" alt="Sewn with love"
          src="../../../assets/pics/Sewing-Tools.png"></div>
    </div>
  </div>
  <div class="row">
    <!--nav class="navbar navbar-expand-lg navbar-light bg-light"-->
    <nav class="navbar navbar-expand-lg navbar-light">
      <div class="container-fluid">
        <button class="navbar-toggler custom-toggler" type="button" data-bs-toggle="collapse"
          data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false"
          aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>

        <div class="collapse navbar-collapse" id="navbarSupportedContent">
          <ul class="navbar-nav me-auto mb-2 mb-lg-0">
            <li *ngFor="let count of navigation" class="nav-item">
              <a class="nav-link  mr-sm-2" routerLinkActive="active" routerLink="{{count.goal}}">
                <span *ngIf="changeLanguage">{{count.navi}}</span>
                <span *ngIf="!changeLanguage">{{count.navi_french}}</span>
              </a>
            </li>
            <li class="nav-item dropdown">
              <a class="nav-link dropdown-toggle " href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown"
                aria-haspopup="true" aria-expanded="false"><i class="fas fa-globe "></i>
                <span *ngIf="changeLanguage">en</span>
                <span *ngIf="!changeLanguage">fr</span>
              </a>
              <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
                <li><a class="dropdown-item" (click)="changeToEnglish()">english</a></li>
                <li><a class="dropdown-item" (click)="changeToFrench()">french</a></li>
              </ul>
            </li>
          </ul>
        </div>
      </div>
    </nav>
  </div>
</div>